html#main-window {
    --toolbar-bgcolor: #111111 !important;
    --lwt-accent-color: #111111 !important;
    --lwt-toolbar-field-background-color: #111111 !important;
    --lwt-toolbar-field-color: #98cfe5 !important;
    --chrome-content-separator-color: none !important;
    --backbutton-background: none !important;
    --arrowpanel-background: #111111 !important;
    --arrowpanel-border-color: #111111 !important;
    --lwt-sidebar-background-color: #111111 !important;
}


#page-action-buttons>*:not(#star-button-box),
.urlbar-history-dropmarker {
    opacity: 0 !important;
}

#urlbar:hover #page-action-buttons>*,
#urlbar:hover .urlbar-history-dropmarker {
    opacity: 1 !important;
}

/* Removal of black bottom 1px line */
#navigator-toolbox::after {
    display: none !important;
    height: 0;
}

menubar,
menubutton,
menulist,
menu,
menuitem,
textbox,
toolbar,
tab,
tree,
.tree-rows {
    font-family: 'Iosevka', monospace !important;
    font-size: 8pt !important;
    font-weight: 600;
    font-style: normal !important;
    -moz-appearance: none !important;
    color: #98cfe5 !important;
}

menupopup {
  -moz-appearance: none !important;
  /* padding: 8px !important; */
  /* background-color: #111111 !important; */
}

#navigator-toolbox {
    --tabs-border-color: none !important;
    border: none !important;
}

.tab-background[selected=true] {
  color: #111111 !important;
}

#sidebar-search-container {
  background-color: #111111;
}

.panel-arrowcontainer, .panel-arrowcontainer, .panel-arrowcontent {
    border-radius: 8px !important;
}

.tabbrowser-tab[selected="true"], .tab-label-container[selected="true"] {
  color: #f67987 !important;
}

/* ------------------------------ */
.chromeclass-location {
    border: none !important;
    box-shadow: none !important;
    background-image: none !important;
}

#urlbar-background,
#urlbar-container,
.urlbar-input-box {
  background-color: #111111 !important;
  background-image: none !important;
}

#statuspanel-label {
    background-color: #111111 !important;
    border: 1px none #111111 !important;
    border-top-style: solid !important;
    color: #98cfe5 !important;
}

/*Transition color while opening websites - disable if you like flashbangs */
#browser vbox#appcontent tabbrowser,
#content,
#tabbrowser-tabpanels,
browser[type="content-primary"],
browser[type="content"] > html {  
    background: #111 !important;
}

#tabbrowser-tabpanels,
#webextpanels-window,
#webext-panels-stack,
#webext-panels-browser {
    background: #111 !important;
}
