:root {
    --newtab-background-color: #111111 !important;
    --newtab-background-color-secondary: #272727 !important;
}

@-moz-document url-prefix(about:home), url-prefix(about:newtab), url-prefix(about:privatebrowsing) {
    body {
        font-family: 'Iosevka', monospace !important;
    }
}